* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: lato;
  src: url(fonts/Lato-Regular.ttf);
}

body {
  background-color: #007dc6;
  height: 100vh;
  background-image: url(images/Bhblue2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  letter-spacing: 0.5px;
  font-family: lato;
}

textarea {
  resize: none;
  font-size: 18px;
  font-weight: 500;
}

h1 {
  text-align: center;
}

ol {
  list-style-type: decimal;
  padding-left: 40px;
}

.forms {
  position: relative;
  background-color: #ece4b7;
  border: 1px solid #222;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.flexForm {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.lists {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

textarea {
  margin: 10px auto;
}

.daily,
.yesterday {
  text-align: center;
  padding-top: 20px;
}

#handOverBtnDiv,
#handOverCon,
#patrolCon,
#keysCon,
#childrenCon,
#laptopCon,
#carParkCon {
  display: none;
}

.smallTitle {
  font-size: 25px;
  padding: 10px;
  border-bottom: 1px solid #222;
}

.inputs {
  text-transform: uppercase;
  border: 1px solid #222;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 5px;
  box-shadow: inset 0 3px 6px #0000001a;
  width: 200px;
  font-size: 18px;
  margin: 5px;
}

.btnDiv {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainBtn {
  width: 150px;
  height: 100px;
  border: 1px solid #222;
  margin: 20px;
  text-align: center;
  line-height: 100px;
  border-radius: 5px;
}

#newFormHo {
  display: none;
}

#date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.smallTitle {
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.sectionTitle {
  padding-bottom: 15px;
}

.radio {
  margin: 0px 15px;
  padding: 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
}

/* Hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: -20px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
  background-color: #65b32e;
}

.radioDiv {
  text-align: center;
  padding: 20px;
}

#textInc,
#textFire,
#textKeys,
#textCams,
#textAct,
#textDoors,
#textIntBarrs,
#textExtBarrs,
#textCity,
#textCom,
#textPatrol {
  display: none;
}

.submitBtn {
  display: inline-block;
  max-height: 43px;
  padding: 8px 10px;
  margin-left: 20px;
  background-color: #ffc220;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #222;
  cursor: pointer;
  user-select: none;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
}

.submitBtn:hover {
  background-color: #aa7f08;
  color: #fff;
}

.submitBtn:active {
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.signatureDiv {
  text-align: center;
}

#backBtn {
  position: fixed;
  bottom: 0;
  left: 0;
}
#patrolCon {
  text-align: center;
}

.date {
  padding: 10px;
}

.question {
  padding: 0px 20px;
}
