* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #007dc6;
  height: 100vh;
  background-image: url(images/Bhblue2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  letter-spacing: 0.5px;
  font-family: 'Lato', sans-serif;
}

/*INITIAL*/
.initial {
  position: relative;
}

.title {
  font-size: 60px;
  color: #ffc220;
  padding-top: 20vh;
  text-align: center;
  font-weight: 700;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.buttons {
  margin-top: 10vh;
  text-align: center;
}

#colleaguesBtn,
#visitorsBtn {
  display: inline-block;
  margin: 0px 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #76c043;
  overflow: hidden;
  line-height: 200px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  border: 1px solid #45632f;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
}

#colleaguesBtn:hover,
#visitorsBtn:hover {
  font-size: 24px;
}

#colleaguesBtn:active,
#visitorsBtn:active {
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

#logo {
  width: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
}

#backBtn {
  width: 100px;
  position: fixed;
  bottom: 0;
  left: 10px;
  cursor: pointer;
  display: none;
  transform: scaleX(-1);
  transition: all 0.3s;
}

#backBtn:hover {
  left: 0;
}

.instructions {
  font-size: 30px;
  color: #ffc220;
  padding-top: 50px;
  text-align: center;
  font-weight: 700;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#listButtons {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
}

#colleaguesListBtn,
#visitorsListBtn,
#archiveBtn {
  color: #76c043;
  cursor: pointer;
  display: inline;
  padding: 10px;
}

#colleaguesListBtn:hover,
#visitorsListBtn:hover,
#archiveBtn:hover {
  color: #45632f;
}

/*Colleagues Form*/

#colleagues {
  display: none;
}

#colleaguesForm {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 49%;
}

.inputs {
  text-transform: uppercase;
  border: 2px solid #ffc220;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 5px;
  box-shadow: inset 0 3px 6px #0000001a;
  width: 200px;
  font-size: 20px;
  margin: 10px;
}

#input3 {
  width: 100px;
}

.submitBtn {
  display: inline-block;
  padding: 8px 10px;
  margin-left: 20px;
  background-color: #ffc220;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
}

.submitBtn:hover,
.deleteBtn:hover {
  background-color: #aa7f08;
  color: #fff;
}

.submitBtn:active,
.deleteBtn:active {
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

/*Visitors*/

#visitors {
  display: none;
}

.instructionsListTitle {
  font-size: 30px;
  color: #ffc220;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.smallTitle {
  padding: 10px;
  font-size: 22px;
  color: #ffc220;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.fire {
  display: none;
  padding: 20px;
  font-size: 25px;
  color: red;
  text-align: center;
}

.smallTitleInitial {
  font-size: 25px;
  padding-top: 30px;
}

.instructionsText {
  font-size: 20px;
  padding: 0px 10px;
  color: #222;
  text-align: center;
}

#visitorsForm {
  text-align: center;
  width: 100%;
  padding: 20px;
}

/*LISTS*/

#colleaguesListDiv,
#visitorsListDiv,
#archiveDiv {
  display: none;
  width: 95%;
  margin: auto;
  padding: 10px;
}

#colleaguesList,
#visitorsList,
#archList {
  color: #222;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  margin: 10px 0px;
}

.colleaguesListPart {
  display: flex;
  background-color: #fcfcfc;
  justify-content: center;
  border-bottom: 1px solid #ffc220;
  padding: 5px;
}

.head {
  border-bottom: 1px solid #222;
  font-size: 22px;
  background-color: #76c043;
}

.names {
  padding: 10px;
  flex-basis: 20%;
}

.listInput {
  cursor: pointer;
}

.deleteBtn {
  flex-basis: 80px;
  max-width: 80px;
  max-height: 40px;
  display: inline-block;
  padding: 7px 10px;
  background-color: #ffc220;
  border-radius: 5px;
  color: #222;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.75);
  max-width: 80px;
  margin: 0;
}

.last {
  flex-basis: 80px;
}

.returned {
  cursor: pointer;
}

.passwordDiv {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 350px;
  padding: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  background-color: #76c043;
  color: #222;
}

.close {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  color: #222;
}

#tyDiv {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 20px;
  width: 600px;
  height: 400px;
  line-height: 100px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  background-color: #76c043;
  border: 1px solid #ffc220;
}

.lastLi {
  margin-bottom: 10px;
}

.notes {
  text-transform: uppercase;
  cursor: pointer;
}

#archiveDiv {
  display: none;
}

#archForm {
  width: 100%;
  text-align: center;
}

#archItem1 {
  background: #f1faee url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50%
    no-repeat;
}

#archItem1::-webkit-inner-spin-button {
  display: none;
}

#archItem1::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 20px;
}
